.parents {
  height: 100vh;
  width: 100%;
  background-color: rgba(154, 136, 116, 0.896);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  height: 400px;
  width: 300px;
  background-color: rgb(222, 100, 222);
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(94, 218, 12);
}

.top img {
  width: 70px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #e10d0d;
  padding: 2px;
}

.top button {
  display: flex;
  align-items: center;
  border: 1px solid #890686;
  padding: 4px 8px;
  font-size: 13px;
  border-radius: 5px;
  gap: 3px;
  background-color: transparent;
  color: #000;
  cursor: pointer;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #1b1a1a;
  background-color: rgb(9, 249, 249);
  padding: 10px 0; /* ✅ Fixed missing value */
}

.center{
  background-color: #e10d0d;
}

.center h3{
  font-size: 18px;
  font-weight: 500px;
  
}