

.card {
  padding: 2px;
  background-color: rgb(208, 255, 0);
  border-radius: 10px;
  margin: 20px;
}
.Navbar {
  padding: 2px;
  background-color: rgb(255, 0, 140);
  border-radius: 10px;
  margin: 20px;
}

